.asma1{
	font-size: 55px;
	font-family: Amiri;
}



.imgauh{
	filter:drop-shadow(1px 1px 3px cyan);
}


.text-nowrap{
	font-size: 20px;
	font-family: Amiri;
}

.Mname{
	font-family: Reem Kufi;
	font-size: 50px;
}

.MnameE{
	font-family: Reem Kufi;
	font-size: 40px;
}

.MnameD{
	font-family: Reem Kufi;
	font-size: 35px;
}

.MnameK{
	font-family: Reem Kufi;
	font-size: 30px;
}